<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>ColeAtComputerSixMonths</string>
		<key>caption</key>
		<string>How it all began...</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gizmo</string>
		<key>caption</key>
		<string>This is Gizmo, my pet conure.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>christmas</string>
		<key>caption</key>
		<string>Christmas (2014)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>LoyolaGrad2012</string>
		<key>caption</key>
		<string>Loyola High School Graduation (2012)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>juviHockey</string>
		<key>caption</key>
		<string>Loyola Warriors Hockey Team (2011-2012)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>juviHockey3</string>
		<key>caption</key>
		<string>Loyola Warriors Hockey Team (2011-2012)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>juviHockey4</string>
		<key>caption</key>
		<string>Loyola Warriors Hockey Team (2011-2012)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>rosemereHockey2011</string>
		<key>caption</key>
		<string>Lorraine-Rosemere Hockey Team (2010-2011)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>RosemereHockey2010</string>
		<key>caption</key>
		<string>Lorraine-Rosemere Hockey Team (2009-2010)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scienceFair2008-09</string>
		<key>caption</key>
		<string>Grade 8 Science Fair (2008-2009)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scoutsHockey</string>
		<key>caption</key>
		<string>Loyola Scouts Hockey Team (2007-2008)</string>
	</dict>
</array>
</plist>
